<%- include('../partials/head.ejs')%> 

<body>
    <header>
        <div class="links">
            <a href="/instructors">Instructor</a>
            <a href="/members">Members</a>
        </div>
    </header>

    <form class="card" method="POST" action="/instructors">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/10552289/500x500) center center /cover"></section>
        <section class="details">
            <h3>Novo Membro</h3>
            <div class="item">
                <div>Avatar Url</div>
                <div>
                    <input type="url" name="avatarUrl" placeholder="http://">
                </div>
            </div>

            <div class="item">
                <div>Membro</div>
                <div>
                    <input type="text" name="name" >
                </div>
            </div>

            <div class="item">
                <div>Email</div>
                <div>
                    <input type="email" name="email">
                </div>
            </div>

            <div class="item">
                <div>Data de Nascimento</div>
                <input type="date" name="birth">
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>
                    <span><input type="radio" id="gender" value="M">Masculino</span>
                    <span><input type="radio" id="gender" value="F">Feminino</span>
                   
                </div>
            </div>

            <div class="item">
                <div>Tipo sanguineo</div>
                <div>
                    <select name="blood">
                        <option value="A1" <% if (member.blood == 'A1') { %>
                         
                        <% } %>>A+</option>
                        <option value="A0"<% if (member.blood == 'A0') { %>
                            <% } %>>A-</option>
                        <option value="B1"<% if (member.blood == 'B1') { %>                         
                            <% } %>>B+</option>
                        <option value="B0"<% if (member.blood == 'B0') { %>                         
                            <% } %>>B-</option>
                        <option value="AB1"<% if (member.blood == 'AB1') { %>                        
                            <% } %>>AB+</option>
                        <option value="AB0"<% if (member.blood == 'AB0') { %>                        
                            <% } %>>AB-</option>
                        <option value="O1"<% if (member.blood == 'O1') { %>                         
                            <% } %>>O+</option>
                        <option value="O0"<% if (member.blood == 'O0') { %>                        
                            <% } %>>O-</option> 
                    </select>
                </div>
            </div>

            <div class="item">
                <div>Peso (kg)</div>
                <input type="number" name="weight">
            </div>

            <div class="item">
                <div>Altura (cm)</div>
                <input type="number" name="height">
            </div>

            <button type="submit">Salvar</button>
        </section>
    </form>
</body>
</html>
