<%- include('../partials/head.ejs')%>

    <body>
        <header>
            <div class="links">
                <a href="/instructors">Instructor</a>
                <a href="/members">Members</a>
            </div>
        </header>
        <div class="card table-container">
            <a href="/members/create">Novo</a>
            <table width="100%">
                <thead>
                    <tr>
                        <th>Membro</th>
                        <th>Atendimento</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        <span style="background-image: url(https://images.unsplash.com/photo-1594381898411-846e7d193883?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80)"></span>
                        </td>
                    <td></td>
                    <td><a href="#">Editar</a></td>
                </tbody>
            </table>
        </div>
        <%- include('../partials/footer.ejs') %> 